version: '3.9'
services:
  db:
    image: postgres:15
    build: ./backend
    env_file:
      - ./backend/.env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: ./backend
    env_file:
      - ./backend/.env
    depends_on:
      - db
    ports:
      - "8080:8080"

volumes:
  pgdata: