### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

### Logs ###
*.log
*.out
*.tmp

### OS ###
.DS_Store
Thumbs.db

### IDE ###

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea/
*.iml
out/

### Java ###
*.class

### Environment Files ###
.env
*.local

### Docker ###
docker/*.pid